.topnav {
   /* background-color: #7ec985;
    overflow: hidden;
    font-family: cursive;
    margin: 20px;
    margin-left: 15px;
    width: 100px;
    margin-top: 60px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); */
    border-top: 1px solid #eeeff2;
    position: relative;
    border-bottom: 1px solid #eeeff2;
    overflow: hidden;
    margin-top: 60px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    margin-left: 200px;
    margin-bottom: 60px;
    margin-right: 200px;
    background-color: white;
}
.topnav a {
   /* float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; */
    background-color: #fff;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}
.topnav a:hover {
    color: #067217;
    font-size: 14px;
    padding: 15px 0;
    height: 5px;
    background: transparent;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

/*.topnav a.active {
    background-color: #4c956e;
    color: white;
}*/

a:link, a:visited{
    text-align: center;
    text-decoration: none;
    color:#2ee5a4;
}
.menu{
    box-sizing: border-box;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
    text-align: -webkit-match-parent;
    background-color: #fff;
    list-style-type: none;
    text-align: left;
    overflow-x: visible;
    border: 200px;
    align-content: center;
}
.about {
    color: #2ee5a4;
    border-bottom: 2px solid #2ee5a4;
    font-size: 14px;
    display: inline-block;
    padding: 15px 10px;
    height: 15px;
}
.project{
    color: #2ee5a4;
    border-bottom: 2px solid #2ee5a4;
    font-size: 14px;
    display: inline-block;
    padding: 15px 10px;
    height: 15px;
}
.contact{
    color: #2ee5a4;
    border-bottom: 2px solid #2ee5a4;
    font-size: 14px;
    display: inline-block;
    padding: 15px 10px;
    height: 15px;
}
.study{
    color: #2ee5a4;
    border-bottom: 2px solid #2ee5a4;
    font-size: 14px;
    display: inline-block;
    padding: 15px 10px;
    height: 15px;
    cursor: pointer;
}
body{
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #f9f3ff;
}
.profile-box {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name {
    text-align: center;
    margin-left: 120px;
    display: inline-block;
    vertical-align: middle;
}
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 80px;
}

h1{
    color: #577483;
    font-style: normal;
    font-family: OpenSans;
    margin-left: 500px;
}
p{
    font-family: OpenSans;
    color: #486372;
    margin-top: 30px;
    margin-left: 600px;
}