@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);


body {
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #4c4c4c;
    margin: 0;
    padding: 0;
}
#page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*Text*/
h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}
h2 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
}
h3 {
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 700;
}
h4 {
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: 700;
}
p {
    margin: 0 0 1em 0;
    color: #2b1c27;
}

a{
    color: #0d5a4c;
    text-decoration: none;
}
a:visited {
    color: #205c33;
}



/*Header*/
header {
    height: 230px;
    background: url(feathers-2561511_1280.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    position: relative;
}
header a.logo {
    z-index: 1;
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    background: url(ioana-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    top: 5px;
    left: 25px;
}
header a.logo span {
    display: none;
}

/*Sections*/
section {
    display: flex;
}

/*
section::after {
    content: '';
    display: block;
    clear: both;
}
*/

/*Section-Main*/
section.card {
    margin-top: 10px;
    position: relative;/*or fixed to stay there*/
    width: 33.333%;
    height: 270px;
    border-radius: 15%;
    background-color: #dbe8ea;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    float: left;
}

section.card .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 5px;
}

section.card .profile {
    padding: 2px 14px;
}
section.card .profile h2{
    text-align: center;
    padding: 5px;
}
section.card .profile .words{
    font-style: italic;
    text-align: center;
}


/*Section Main*/
section.main {
    margin-top: 10px;
    text-align: center;
/*  width: 800px;
    height: 100px;*/
    width: 66.666%;
/*  flex: 50%;*/
}
section.main .content {
    padding: 10px;
    background-color: #bbecf6;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

section.main .resume {
    margin: 10px;
}
section.main .study {
    margin: 10px;
}
section.main .hobby {
    margin: 10px;
}

/*Button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 85px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0d5a4c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#myBtn:hover {
    background-color: #025520;
}


/*Navigation menu*/
nav {
    background-color: rgba(0,0,0,.45);
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0 0 0;
    width: 100%;
    /*for the title of the page to be in front we use the z-index from the header*/
}
nav::after {
    content: '';
    display: block;
    clear: both;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li:hover{
    background-color: #0d5a4c;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    /*This will remove the underlines*/
    width: 125px;
    position: relative;
}

/*next is for the color of nav menu*/
nav ul li a:visited {
    color: #fff;
}
nav ul li a:hover {
    background-color: #0d5a4c;
}
nav > ul {
    padding-left: 200px;
}
nav > ul > li {
    float: left;
}
nav > ul >li > a {
    width: auto;
    padding: 10px 20px 15px 20px;
}
.topnav .icon {
    display: none;
}


/*Footer*/
footer {
    height: 60px;
    font-size: .8em;
    padding: 30px;
    background-color: #dbe8ea;
    color: #767477;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

section.projectI {
    margin-top: 10px;
    background-color: #b3eec9;
    padding: 20px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}
section.projectII {
    margin-top: 10px;
    background-color: #b3eec9;
    padding: 20px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    position: relative;
}

section.projectII li {
    list-style: none;
}

.progress {
    text-align: center;
    top: 0;
    bottom: 0;
}

/*#read-more-button {
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #0d5a4c;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}*/


/*Smaller Screens*/
@media screen and (max-width: 768px) {
    section.card {
        margin: 10px 20% 0 20%;
        width: 60%;
    }
    section.card .words {
        text-align: center;
    }
    section.card .avatar {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    section.main {
        width: 100%;
    }
    #myBtn {
        font-size: 15px;
        right: 10px;
    }
}

@media screen and (max-width: 600px) {
    nav > ul {
        padding-left: 80%;
    }
    header a.logo {
        left: 10px;
        top: 0;
    }
    .topnav ul li a {
        display: none;
    }

    .topnav ul li a.icon {
        float: right;
        display: block;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: absolute;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 5%;
        top: 10%;
        color: white;
        padding: 5px;
        font-size: 20px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        right: 70%;
    }
}

@media screen and (max-width: 375px) {
    section.card .words {
        text-align: center;
        font-size: .9em;
    }
    #myBtn {
        font-size: 10px;
        right: 10px;
    }
    p {
        font-size: .8em;
    }
}



